@model Infrastructure.Models.SocialLink
@{
    ViewBag.Title = "title";
    Layout = "_LayoutEmpty";
}
@{
    var linkid = $"{Model.Name}link";  
} 
<div id="@linkid" style="display: inline-block;">
    <div title="@Model.Url" class="card-links social-link">
        <div class="align-self-md-auto" style="color: @Model.Style.SocialFontColor">
            @Html.Raw(Model.Icon)
        </div>
    </div> 
</div>