

@{
  ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>


  <header class="header-banner" id="ip3f">
  </header>
  <section class="flex-sect" id="iperf">
    <div class="container-width">
      <div class="flex-title" id="i536s">Flex is the new black
      </div>
      <div class="flex-desc" id="ikk9v">With flexbox system you're able to build complex layouts easily and with free responsivity
      </div>
      <div class="cards" id="imx0o">

      </div>
    </div>
  </section>